*{
    box-sizing: border-box;
    /* font-family: 'Catamaran', sans-serif; */
}
/* body style */
.mane-font{
  font-family: 'Catamaran', sans-serif;
}
/* 
https://getbootstrap.com/docs/4.0/content/typography/
*/
html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }
.font-size-l { 
    font-size: 1.2rem; 
}
.font-size-xl { 
    font-size: 1.6rem; 
}
.ssuperscript{
  vertical-align: super;
}
.ssubscript{
  vertical-align: sub;
}
.ttimes-new-roman{
  font-family: 'Times New Roman', Times, serif;
}
.logo--coloring{
  color: #2EB456 !important;
}
.test-color{
  border: solid 1px red;
}
.footer--style{
  background-color: #1B1B1B;
  color: white;
}
/* navbar */
.navbar-nav{
  align-items: center;
}
.navbar-brand{
  font-weight: bold;
}
.font-nav{
  font-size: 40px !important;
  font-style: italic;
}
/* Contact us Style */
.contactus--text-color{
  color: #910202;
}
.contactus-text-style{ 
  font-weight: bold; 
}
.contactus--bton{
  color: #13AFF0;
}
/* industries style */
.indust-green-bg{
  background-color: #61CE70;
  padding: 1.3%;
}
.indust-green-bg h1{
  font-size: 40px;
  font-weight: bold;
}
.letter-spacing{
  margin: 3px;
}
.letter-spacing-end{
  margin-left: 3px;
  margin-right: 10px;
}
/* About Us style*/
/* img contain inside div */
.about-us-img-2{
  width: 293px;
  height: 334px;
  /* object-fit: contain;
  overflow: hidden; */
}
.about-us-img-1{
  width: 293px;
  height: 296px;
  /* object-fit: contain;
  overflow: hidden; */
}
.about-us-bg{
  background-color: #45EC5C;
}
.indust-green-bg h2{
  font-size: 40px;
  font-weight: bold;
}
.blockier-font{
  font-family: 'Oswald', sans-serif;
}
/* Product page style */
/* .product-img-s1{
  width: 100%;
  height: 90%;
  object-fit: contain;
  overflow: hidden;
} --> just use bootstrap's class='img-fluid'
*/
.product-li-s1{
  align-items: center;
  justify-content: center;
}
.anton-font{
  font-family: 'Anton', sans-serif;
}
/* safe-care-sc-1000-spec-sheet style */
.safe-care-sc1000-img{
  width: 60%;
  height: 70%;
  object-fit: contain;
  overflow: hidden;
}
.arial-font{
  font-family: Arial, Helvetica, sans-serif;
}
/* sc1000 aircraft section style */
.sc1000-aircraft-font-color{
  color: #000053;
}
.sc1000-aircraft-list-style{
  list-style-type: square;
}
.sc1000-aircraft-end-font{
  font-size: 12px;
}
.sc1000-aircraft-gemtek-color{
  color: #0F7001;
}
/* sc-1000 aqueous cleaner style */
.sc-1000-aqueous-font-size{
  font-size: 1.1rem; 
}
